*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background: grey;

}
/* inizio fascia di ricerca */
header {
  background: black;
  position: fixed;
  width: 100%;
  height: 80px;
  top:0;
  left:0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 300px;
  height: 100%;
  background-image: url("logo/matoflix.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 12px;
}


.father-search{
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  margin-right: 20px;
}
#search {
 width: 150px;
 height: 25px;
 background: white;
 margin-right: 20px;

}
#search-button{
  height: 25px;
  width:80px;
  background: white;
}
label {
  color:white;
  background: black;
  margin-right: 20px;
}
/* fine fascia di ricerca */

/* inizio spazio films */
.contenitor{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 150px;
}
/* inizio elementi nel template */
.elemento{
  width: 342px;
  height: 400px;
  margin:15px;
  border: 2px solid white;
}
.poster-div{
  width: 100%;
  height: 100%;
  
}
.poster-div img{
  width: 100%;
  height: 100%;
}
.foundedFilms{
  background: #F0F8FF;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  height: 100%;


}
.foundedFilms *{
  color:red;
  background: #F0F8FF;
}
/* inizio bandierine */
.language img{
  width: 30px;
  height: auto;
}
/* fine bandierine */
/* inizio scritta tipo filmato */
.foundedFilms span:nth-child(5){
  background: red;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  text-align: center;
}
/* fine scritta tipo filmato */
/* inizio  descrizione film*/
.panoramica{
  overflow: auto;
  margin-bottom:30px;
}
/* fine  descrizione film*/
/* fine elementi nel template */
